<div class="well">
    <p>Have you ever been out in public and needed to use the restroom but not known where to go? Well we are looking into a solution for you. Our goal is to create a public restroom app that will help you with you're restroom needs. But before we spend the time making an app no one will use we'd like to get some feedback and find out what you want. So fill out our survey, let us know what you want, and then look for our app in the future. Thank you.</p>
</div>

<div class="well">
    <p>Would you use an app to help you find a quality public restroom?</p>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-click="showCon('con1')">
            Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click="showCon('con2')">
            No
        </label>
    </div>
</div>

<div class="well" ng-show="clickOn=='con1'">
    <p>You clicked yes!</p>
</div>

<div class="well" ng-show="clickOn=='con2'">
    <p>You clicked no!</p>
</div>