<div class="row">
    <div class="well bs-component">
        <form class="form-horizontal" ng-submit="submitrrRating()">
            <fieldset>
                <legend>Tell us about a Restroom</legend>
                <div class="form-group">
                    <label for="location address" class="col-lg-2 control-label">Location Address</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="locationAddress" placeholder="1234 NW MLK blvd, Springfield, TX" ng-model="rrRating.locAddress">
                    </div>
                </div>
                <div class="form-group">
                    <label for="location description" class="col-lg-2 control-label">Location Description</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="locationDescription" placeholder="downstairs at the end of the main entrance hallway" ng-model="rrRating.locDescription">
                        <span class="help-block">GPS based location is in developement</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Gender</label>
                    <div class="col-lg-10">
                        <div class="radio put-in-a-row">
                            <label>
                                <input type="radio" name="genderMale" id="genderMale" value="male" ng-model="rrRating.gender">
                                Male
                            </label>
                        </div>
                        <div class="radio put-in-a-row">
                            <label>
                                <input type="radio" name="genderFemale" id="genderFemale" value="female" ng-model="rrRating.gender">
                                Female
                            </label>
                        </div>
                        <div class="radio put-in-a-row">
                            <label>
                                <input type="radio" name="genderUnisex" id="genderUnisex" value="unisex" ng-model="rrRating.gender">
                                Unisex
                            </label>
                        </div>
                        <div class="radio put-in-a-row">
                            <label>
                                <input type="radio" name="genderFamily" id="genderFamily" value="family" ng-model="rrRating.gender">
                                Family
                            </label>
                        </div>
                        <div class="radio put-in-a-row">
                            <label>
                                <input type="radio" name="genderOther" id="genderOther" value="other" ng-model="rrRating.gender">
                                Other
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Sanitation</label>
                    <div class="col-lg-2">
                        <label for="clean" class="control-label">Clean?</label>
                        <select class="form-control input-sm" id="clean" ng-model="rrRating.sanitation.clean">
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label for="smell" class="control-label">Smell?</label>
                        <select class="form-control input-sm" id="smell" ng-model="rrRating.sanitation.smell">
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label for="soapFill" class="control-label">Soap Filled?</label>
                        <select class="form-control input-sm" id="soapFill" ng-model="rrRating.sanitation.soap">
                            <option value=""></option>
                            <option value="true">yes</option>
                            <option value="false">no</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label for="tpFill" class="control-label">TP Filled?</label>
                        <select class="form-control input-sm" id="tpFill" ng-model="rrRating.sanitation.toiletPaper">
                            <option value=""></option>
                            <option value="true">yes</option>
                            <option value="false">no</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label for="paperTowelFill" class="control-label">Paper Towels?</label>
                        <select class="form-control input-sm" name="" id="paperTowelFill" ng-model="rrRating.sanitation.paperTowels">
                            <option value=""></option>
                            <option value="true">yes</option>
                            <option value="false">no</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Facilities</label>
                    <div class="col-lg-3">
                        <label for="numOfStalls" class="control-label">Number of Stalls</label>
                        <input type="integer" class="form-control input-sm" id="numOfStalls" ng-model="rrRating.facilities.numOfStalls">
                    </div>
                    <div class="col-lg-3">
                        <label for="numOfSinks" class="control-label">Number of Sinks</label>
                        <input type="integer" class="form-control input-sm" id="numOfSinks" ng-model="rrRating.facilities.numOfSinks">
                    </div>
                    <div class="col-lg-4">
                        <label for="privacy" class="control-label">Privacy</label>
                        <select id="privacy" class="form-control input-sm" ng-model="rrRating.facilities.privacy">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value=""></option>
                        </select>    
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Sundries</label>
                    <div class="col-lg-3">
                        <label for="TPType" class="control-label">TP Type</label>
                        <select id="TPType" class="form-control input-sm" ng-model="rrRating.sundries.tpType">
                            <option value=""></option>
                            <option value="low-grade-1ply">Low Grade One Ply</option>
                            <option value="mid-grade-2ply">Mid Grade Two Ply</option>
                            <option value="high-grade-premium">High Grade Premium</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label for="dryerOptions" class="control-label">Dryer Options</label>
                        <select id="dryerOptions" class="form-control input-sm" ng-model="rrRating.sundries.dryerOptions">
                            <option value=""></option>
                            <option value="low-grade-paper">Low Grade Paper</option>
                            <option value="high-grade-paper">High Grade Paper</option>
                            <option value="low-grade-blow-drier">Low Grade Blow Drier</option>
                            <option value="mid-grade-blow-drier">Mid Grade Blow Drier</option>
                            <option value="high-grade-blow-drier">High Grade Blow Drier</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label for="soapType" class="control-label">Soap Type</label>
                        <select id="soapType" class="form-control input-sm" ng-model="rrRating.sundries.soapType">
                            <option value=""></option>
                            <option value="bar-soap">Bar Soap</option>
                            <option value="liquid-soap">Liquid Soap</option>
                            <option value="foaming-soap">Foaming Soap</option>
                            <option value="antibacterial-soap">Antibacterial Soap</option>
                            <option value="moisterizing-soap">Moisturizing Soap</option>
                            <option value="scented-soap">Scented Soap</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="otherInput" class="control-label col-lg-2">Other</label>
                    <div class="col-lg-10">
                        <textarea id="otherInput" rows="3" class="form-control"ng-model="rrRating.other"></textarea>
                        <span class="help-block">Tell us what we missed.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>